<div class="container">
  <div class="wrapper">
    <form (ngSubmit)='register()' [formGroup]="model" name="Login_Form" class="form-signin">
      <h3 class="form-signin-heading">Please Sign Up</h3>
      <hr class="colorgraph">
      <br>
      <input type="text" formControlName="username" class="form-control" name="Username" placeholder="Username"
             required="" autofocus=""
      />
      <p *ngIf="usernameMessage" class="errorMessage">
        <span>Error {{usernameMessage}}</span>
      </p>
      <input type="text" formControlName="email" class="form-control" name="Email" placeholder="Email" required=""
             autofocus=""
      />
      <p *ngIf="emailMessage" class="errorMessage">
        <span>Error {{emailMessage}}</span>
      </p>
      <input type="password" formControlName="password" [(ngModel)]="pass" class="form-control" name="Password"
             placeholder="Password"
             required=""/>
      <p *ngIf="passMessage" class="errorMessage">
        <span>Error {{passMessage}}</span>
      </p>
      <input type="password" formControlName="confirmPass" class="form-control pass-last" name="ConfirmPass"
             placeholder="Confirm Password"
             required="" autofocus=""/>
      <p *ngIf="confirmPassMessage" class="errorMessage">
        <span>Error {{confirmPassMessage}}</span>
      </p>
      <button [disabled]='!regFail' class="btn btn-md btn-primary btn-block" name="Submit" value="Login" type="Submit">
        Sign Up
      </button>
    </form>
  </div>
</div>
