<div class="container-fluid">
  <div *ngIf='showCar' class="col col-md-7 text-center">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <h2>
        <strong>New Products</strong>
      </h2>
      <!-- Indicators -->

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src={{newCar[0].imgUrl}} alt="Los Angles" style="width:100%;">
        </div>

        <div class="item">
          <img src={{newCar[1].imgUrl}} alt="Chicago" style="width:100%;">
        </div>

        <div class="item">
          <img src={{newCar[2].imgUrl}} alt="" style="width:100%;">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
      <div class="botomDiv">
      </div>
    </div>
  </div>
  <h1 *ngIf='!showCar'>No Car for show</h1>
  <div class="col col-md-5 bg-info rightBar">
    <div id="myJumbo" class="jumbotron">
      <h1 *ngIf='!authService.isLoggedIn()'>Welcome!</h1>
      <h2 *ngIf='!authService.isLoggedIn()'><strong>Car Parcet</strong></h2>
      <p *ngIf='!authService.isLoggedIn()'>Lorem Ipsum is simply dummy text of the printing and ty galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.</p>
      <app-register *ngIf='authService.isLoggedIn()'></app-register>
    </div>
  </div>
</div>
