.container-fluid img {
  height: 50rem;
}

.container-fluid {
  margin: 0;
  background: rgba(250, 243, 201, 0.397);
}

#myCarousel h2 {
  color: rgb(0, 34, 27);
  text-shadow: 3px 3px 3px rgb(194, 236, 252);
}

.rightBar {
  background: rgb(0, 34, 27);
  height: 63rem;
  overflow: hidden;

}


div.container-fluid {
  position: relative;
  padding: 0;
}

.botomDiv {
  margin: 0;
  height: 50px;
  background: #000;
  background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
