<div class="container well">
        <div class="col text-center">
          <h2>Edit Phone</h2>
          <hr>
          <form (ngSubmit)='edit()' [formGroup]="model" class="form-horizontal" action="/action_page.php">
            <div class="form-group">
              <label class="control-label col-sm-3" for="brand">Brand:</label>
              <div class="col-sm-6">
                <input formControlName="brand" type="text" class="form-control" id="brand" placeholder="Enter brand">
              </div>
                <span *ngIf='brandMsg'  class="col-sm-3 bg-danger text-muted"> <strong>Error: {{brandMsg}}</strong></span>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="model">Model:</label>
              <div class="col-sm-6">
                <input formControlName="model" type="text" class="form-control" id="model" placeholder="Enter model">
              </div>
              <span *ngIf='modelMsg'  class="col-sm-3 bg-danger text-muted"><strong>Error: {{modelMsg}}</strong></span>  
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="imgUrl">ImgUrl:</label>
              <div class="col-sm-6">
                <input formControlName="imgUrl" type="text" class="form-control" id="imgUrl" placeholder="Enter image url">
              </div>
              <span *ngIf='imgMsg'  class="col-sm-3 bg-danger text-muted"><strong>Error: {{imgMsg}}</strong></span>          
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="price">Price:</label>
              <div class="col-sm-6">
                <input formControlName="price" type="number" class="form-control" id="price" placeholder="Enter price">
              </div>
              <span *ngIf='priceMsg'  class="col-sm-3 bg-danger text-muted"><strong>Error: {{priceMsg}}</strong></span>          
              
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="desc">Description:</label>
              <div class="col-sm-6">
                <textarea formControlName="description" type="text" class="form-control" id="desc" placeholder="Enter description"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-6">
                <button [disabled]='!addFail' type="submit" class="btn btn-primary btn-block">Edit Phone</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      