.details img {
  width: 40rem;
  height: 35rem;
}

div.details {
  height: 60rem;
  position: relative;
  padding: 0;
}

.details > div {
  height: 100%;
  padding: 2rem;
}

.detailsBtn {
  height: 10rem;
  margin: 3rem;
  overflow: hidden;
}

.comment {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
  background: rgb(0, 34, 27);
  color: rgb(255, 255, 255);
}

.comment::-webkit-scrollbar {
  width: 1em;
}

.comment::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.comment::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.151);
  outline: 1px solid rgba(112, 128, 144, 0.164);
}
