<div *ngIf='phone' class="container-fluid well details">
  <div class="col col-md-8">
    <div class="row">
      <div class="col-xs-8 text-center">
        <img src={{phone.imgUrl}} alt="">
      </div>
      
      <div class="col col-md-4">
        <h4>
          <small class="text-warning">Brand:</small>
          <strong>{{phone?.brand}}</strong>
        </h4>
        <hr>
        <h4>
          <small class="text-warning">Model:</small>
          <strong>{{phone?.model}}</strong>
        </h4>
        <hr>
        <h4>
          <small class="text-warning">Price:</small>
          <strong>{{phone?.price}}$</strong>
        </h4>
        <hr>
        <h4>
          <small class="text-warning">Date of publication:</small>
          <strong>{{phone?.date | date: 'yyyy-MM-dd HH:mm'}}</strong>
        </h4>
        <hr>
        <h4>
          <small class="text-warning">Description:</small>
          <strong>{{phone?.description}}</strong>
        </h4>
        <hr>
      </div>
    </div>
    <div class="row detailsBtn">
      <a [routerLink]="['/order/add', phone._id]" class="btn btn-warning btn-lg">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <strong>Order</strong>
      </a>
      <a *ngIf='authService.isAdmin()' [routerLink]="['/phone/edit', phone._id]" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-pencil"></span>
        <strong>Edit</strong>
      </a>
      <a *ngIf='authService.isAdmin()' [routerLink]="['/phone/delete', phone._id]" class="btn btn-danger btn-lg">
        <span class="glyphicon glyphicon-remove"></span>
        <strong>Delete</strong>
      </a>
    </div>
  </div>
  <div class="col-md-4 comment">
    <app-comment *ngIf='!authService.isLoggedIn()'></app-comment>

    <app-comment-list></app-comment-list>

  </div>
</div>
