<section class="car-details">
  <header>
    <h1>Car Details</h1>
  </header>
  <section class="content">
    <app-car-full-info [car]="car"></app-car-full-info>
    <section class="seeMore">
      <header>
        <h2>More cars</h2>
      </header>
      <section>
        <ul class="row">
          <li class="col-4" *ngFor="let c of cars">
            <a class="a-r" (click)="refreshPage(c._id)">
                <article>
                    <h3 class="text-center">{{ c.model }}</h3>
                    <div>
                      <img src="{{ c.imageUrl }}" alt="">
                    </div>
                </article>
            </a>
          </li>
        </ul>
      </section>
    </section>
  </section>
</section>
