<div class="container shop-tracking-status">
  <div class="col-md-12">
    <div class="well">
      <h2>Your order status:</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="prefix">Date created:</span>
          <span class="label label-success">{{order?.date | date: 'yyyy-MM-dd HH:mm'}}</span>
        </li>
        <li class="list-group-item">
          <span class="prefix">Car brand</span>
          <span class="label label-success">{{order?.car?.brand}}</span>
        </li>
        <li class="list-group-item">
          <span class="prefix">Order Model</span>
          <span class="label label-success">{{order?.car?.model}}</span>
        </li>
      </ul>

      <div class="order-status">

        <div class="order-status-timeline">
          <div class={{statusOrderClass}}></div>
        </div>

        <div class="image-order-status image-order-status-new active img-circle">
          <span class="status">Accepted</span>
          <div class="icon"></div>
        </div>
        <div class="image-order-status image-order-status-active active img-circle">
          <span class="status">In progress</span>
          <div class="icon"></div>
        </div>
        <div class="image-order-status image-order-status-intransit active img-circle">
          <span class="status">Shipped</span>
          <div class="icon"></div>
        </div>
        <div class="image-order-status image-order-status-delivered active img-circle">
          <span class="status">Delivered</span>
          <div class="icon"></div>
        </div>
        <div class="image-order-status image-order-status-completed active img-circle">
          <span class="status">Completed</span>
          <div class="icon"></div>
        </div>
      </div>
    </div>
  </div>
</div>
